/* Remove margens padrão do body para usar todo o espaço da tela */
body {
  margin: 0;

  /* Define a fonte padrão da aplicação */
  font-family: Arial, Helvetica, sans-serif;

  /* Define o fundo escuro da aplicação (modo escuro) */
  background-color: #121212;

  /* Define a cor padrão do texto como branca */
  color: white;
}

/* Aplica estilo global a elementos <video> */
video {
  /* Faz com que o vídeo ocupe no máximo 100% da largura do contêiner */
  max-width: 100%;

  /* Bordas arredondadas nos vídeos para dar um visual mais suave */
  border-radius: 8px;
}
